@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1D3557;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
  color: #1D3557;
}
.lato {
  font-family: "Lato", sans-serif;
}
.size-12, th, td {
  font-size: 12px;
}
.login-page {
  min-height: 100vh;
  background: #212422;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.login-form-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-image {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 16px;
}
.login-from-inner {
  width: 100%;
  padding: 13%;
}
.login-image img {
  width: 100%;
  object-fit: cover;
}
h2.h2-heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 30px;
}
.login-from-inner h2.h2-heading {
  color: #fff;
  margin-top: 50px;
}
.login-from-inner input {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 8px;
  background-color: transparent;
  margin: 0px auto;
  padding: 6px 4px 4px 14px;
  height: 54px;
  outline: none !important;
  font-size: 12px;
  color: rgb(255 255 255 / 85%);
  transition: all .2s ease-in-out;
  border: 1px solid rgba(145, 158, 171, 0.20);
}
.login-from-inner label {
  position: absolute;
  top: 21px;
  left: 12px;
  text-align: left;
  display: inline-block;
  padding: 0 4px;
  height: 14px;
  background: #212422;
  margin: 0px auto;
  cursor: text;
  transition: all .15s ease-in-out;
  overflow: hidden;
  color: #919EAB;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}
 
.login-from-inner input:valid + label, .login-from-inner input:focus + label {
  top: -5px;
  color: #fff;
  font-weight: 600;
}
.form-group {
  margin-bottom: 20px;
  position: relative;
}
button.button {
  border-radius: 10px;
  background: #019268;
  width: 100%;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  line-height: 125%;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
}

.submenu {
  display: none;
}

.submenu.open {
  display: block;
}

.has-submenu > div {
  cursor: pointer;
  width: calc(100% - 41px);
  display: flex;
  align-items: center;
}

.has-submenu > div .toggle-icon {
  margin-left: auto;
}
.main-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
.left-sidebar {
  height: 100vh;
  width: 252px;
  float: left;
  position: fixed;
  overflow-y: scroll;
}
.left-sidebar::-webkit-scrollbar-track
{
	background-color: #fff;
}

.left-sidebar::-webkit-scrollbar
{
	width: 0px;
	background-color: #fff;
}

.left-sidebar::-webkit-scrollbar-thumb
{
	background-color: #1D3557;
}
.right-content {
  width: calc(100% - 252px);
  float: right;
}
.main-nav ul li a {
  display: flex;
  -moz-column-gap: 17px;
  column-gap: 17px;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 25px;
  position: relative;
}
.main-nav ul li  {
margin-bottom: 4px;
color: #353836;
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
}
.main-nav ul.submenu {
  padding-left: 39px;
  margin: 10px 0 0;
}
.main-nav ul li:hover , .main-nav ul li a.active {
  color: #019268;
}
.main-nav ul li a.active {
  font-weight: 700;
}
.main-nav ul li a.active::before {
  position: absolute;
  content: "";
  border-radius: 0px 4px 4px 0px;
  background: #019268;
  height: 100%;
  width: 4px;
  left: 0;
}
.main-nav ul li.has-submenu {
  padding: 10px 25px;
}
.main-nav ul.submenu a {
  padding-left: 0;
  padding-right: 0;
}
.main-nav ul li:hover svg path, .main-nav ul li:hover svg circle,
.main-nav ul li a.active svg path, .main-nav ul li a.active svg circle{
  stroke: #019268;
}
input:focus-visible, select:focus-visible {
  outline: none;
}
th {
  font-weight: 600;
  padding: 15px 10px;
  color: #1D3557;
}
 td {
  padding: 22px 10px;
  color: #464F60;
}
tbody tr:nth-child(odd) {
background: #F6F7FD;
}
.paginationnnnn ul.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
}
.paginationnnnn ul.pagination li a {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  position: relative;
  color: #626D80;
}
.css-ejgmvm-MuiTypography-root {
  color: #464F60;
}
.trasnsactionid {
  max-width: 200px;
  word-break: break-all;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.paginationnnnn li.previous {
  background: url("/public/Chevron-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.paginationnnnn li.next {
  background: url("/public/chevron-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.paginationnnnn ul.pagination li.active a {
  border-radius: 8px;
  background: #019268;
  color: #fff;
}
.paginationnnnn ul.pagination  li.disabled a {
  cursor: not-allowed;
}
.main-nav ul.submenu a.active::before{
  display: none;
}
td.pending-class span {
  background: #FEF2DC;
  color: #F4A50B;
  padding: 3px 7px;
  border-radius: 6px;
}
td.inspection-class span {
  background: #BEE0FF;
  color: #0261B8;
  padding: 3px 7px;
  border-radius: 6px; 
}
td.delivered-class span {
  background: #D3F4E9;
  color: #00A76F;
  padding: 3px 7px;
  border-radius: 6px;
}
.name-string {
  background: #21B48A;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  font-size: 12px;
  color: #fff;
}
.user-name h6 {
  color: #171C26;
  font-size: 12px;
  font-weight: 600;
}
.user-name p {
  color: #8D8D8D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.searchhh.signup-search .flex.gap-\[2px\].items-center {
  max-width: 534px;
  width: 100%;
}
td.awaiting-class span {
  background: rgba(255, 221, 225, 1);
  color: #EB001B;
  padding: 3px 7px;
  border-radius: 6px; 
}
span.notes {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 130px;
}
.infromation-inner {
  display: flex;
  align-items: center;
  grid-gap: 15px;
}
.infromation-inner h6 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.infromation-list p {
  color: #1D3557;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.infromation-list {
  display: flex;
  justify-content: space-between;
  grid-gap: 20px;
  flex-wrap: wrap;
}
.reportdatarange select#yearSelect {
  padding: 13.5px 14px;
}
.reportdatarange select#yearSelect, .reportdatarange  input[type="text"], select#packages {
  border-radius: 12px;
  border: 2px solid var(--Stroke, #E2E2E2);
  background: var(--Default-white, #FFF);

  min-width: 189px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  min-height: 48px;
}
.reportdatarange input[type="text"] {
  min-width: 284px;
  padding-left: 50px;
}
.reportdatarange .rdrCalendarWrapper.rdrDateRangeWrapper {
  position: absolute;
  top: 100%;
}
img.calendar-img {
  max-width: 20px;
  position: absolute;
  bottom: 15px;
  left: 16px;
  pointer-events: none;
}
.form-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  justify-content: space-between;
}
.form-wrap .flex-item {
  width: calc(33.33% - 11px);
}
.form-wrap .items-two  {
  width: calc(50% - 8px);
}
.line-graph canvas {
  border-radius: 12px;
  border: 1px solid #EDEDED;
  background: #FFF;
  padding: 40px;
}
.form-wrap input {
color: var(--text-disabled, #919EAB);
text-overflow: ellipsis;
font-size: 12px;  
font-weight: 400;
line-height: 22px;
}
.form-wrap input, .form-wrap select {
  height: 54px;
}
.flex-item select {
  color: #919EAB;
  font-size: 12px;
}
/* .investor-stats canvas {
  height: 100% !important;
} */
.investor-stats {
  border-radius: 12px;
  border: 1px solid #EDEDED;
  background: #FFF;
  padding: 20px;
}


.graphand-stats {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
/*****************media***************/
@media(max-width: 1023px){
  .login-page {
    grid-template-columns: 1fr 1fr;
}
.login-from-inner {
  padding: 50px;
}
}
@media(max-width: 767px){
  .login-page {
    grid-template-columns: 1fr;
}
.login-from-inner {
  width: 100%;
  padding: 20px;
}
}